{% extends 'capstoneapplication/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-by-two eight columns">
            <h2>About</h2>
            <p>Insert about info here</p>
        </div>
    </div>
{% endblock %}