{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            title is provided by inheriting templates
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'capstoneapplication/normalize.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'capstoneapplication/skeleton.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'capstoneapplication/style.css' %}">
    {% block head %}{% endblock %}
</head>

<body>

<div class="container">
    <div class="offset-by-eight four columns">
        <ul class="inline">
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout_urlpattern' %}">
                    Log Out, {{ user.get_username }}</a></li>
            {% else %}
                <li><a href="{% url 'login_urlpattern' %}">
                    Log In</a></li>
            {% endif %}
        </ul>
    </div>
    <header class="row">
        <div class="offset-by-one ten columns">
            <h1 class="logo">Booking System</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'capstoneapplication_caterer_list_urlpattern' %}">
                    Caterers</a></li>
            <li>
                <a href="{% url 'capstoneapplication_customer_list_urlpattern' %}">
                    Customers</a></li>
            <li>
                <a href="{% url 'capstoneapplication_venue_list_urlpattern' %}">
                    Venues</a></li>
            <li>
                <a href="{% url 'capstoneapplication_booking_list_urlpattern' %}">
                    Bookings</a></li>
            <li>
                <a href="{% url 'search' %}">
                    Search</a></li>
            <li>
                <a href="{% url 'capstoneapplication_report_list_urlpattern' %}">
                    Report 1</a></li>
            <li>
                <a href="{% url 'capstoneapplication_report_list2_urlpattern' %}">
                    Report 2</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
            <div class="row">
                <section class="eight columns">
                    {% block org_content %}
            This is default content!
        {% endblock %}
                </section>
                <section class="desktop four columns">
                    {% block create_button %}{% endblock %}
                </section>
            </div>
            <div class="row">
                <div class="twelve columns">
                    {% block content_footer %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </main>
</div><!-- end of container -->

<footer>
    <p>Portions of this code are based upon code from
        <a href="https://django-unleashed.com">Django Unleashed</a>,
        <a href="http://getskeleton.com/">Skeleton</a>, and
        <a href="https://necolas.github.io/normalize.css/">Normalize.css</a> and
        are subject to the intellectual property rights restrictions of those works.
    </p>
</footer>
</body>
</html>

