{% extends 'capstoneapplication/base.html' %}

{% block title %}
    Booking List
{% endblock %}

{% block content %}
<h2>Course Information System</h2>
    <div>
        <a href="{% url 'capstoneapplication_booking_create_urlpattern' %}">
            Create New Booking</a>
    </div>
        <ul>
            {% for booking in booking_list %}
                 <li>
                    <a href="{{ booking.get_absolute_url }}">{{ booking }}</a>
                <li>
            {%empty %}
                <li><em>There are currently no bookings available.</em></li>
             {% endfor %}
        </ul>

{% endblock %}