{% extends 'capstoneapplication/base.html' %}

{% block title %}
    Caterer List
{% endblock %}

{% block content %}
<h2>Course Information System</h2>
    <div>
        <a href="{% url 'capstoneapplication_caterer_create_urlpattern' %}">
            Create New Caterer</a>
    </div>

        <ul>
            {% for caterer in caterer_list %}
                 <li>
                    <a href="{{ caterer.get_absolute_url }}">{{ caterer }}</a>
                <li>
            {%empty %}
                <li><em>There are currently no caterers available.</em></li>
             {% endfor %}
        </ul>
{% endblock %}