{% extends 'capstoneapplication/base.html' %}

{% block title %}
    Customer List
{% endblock %}

{% block content %}
<h2>Course Information System</h2>
    <div>
        <a href="{% url 'capstoneapplication_customer_create_urlpattern' %}">
            Create New Customer</a>
    </div>
        <ul>
            {% for customer in customer_list %}
                 <li>
                    <a href="{{ customer.get_absolute_url }}">{{ customer }}</a>
                <li>
            {%empty %}
                <li><em>There are currently no customers available.</em></li>
             {% endfor %}
        </ul>
{% endblock %}