{% extends 'capstoneapplication/base.html' %}

{% block title %}
    Customer - {{ customer }}
{% endblock %}

{% block content %}
    <h2>{{ customer }}</h2>
    <ul>
    <li>
        <a href="{{ customer.get_update_url }}">
            Edit Customer
        </a>
    </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Name</th>
                <td>{{ customer.customer_first_name|add:" "  }}  {{customer.customer_last_name }}</td>
            </tr>
            <tr>
                <th>Address:</th>
                <td>{{ customer.customer_street_address }}<br /> {{ customer.customer_city|add:" " }} {{ customer.customer_state|add:", " }} {{ customer.customer_zip }}</td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>{{ customer.customer_phone }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ customer.customer_email }}</td>
            </tr>
            <tr>
                <th>Organization:</th>
                <td>{{ customer.customer_organization }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Bookings</h3>
        <ul>
            {% for booking in booking_list %}
                <li>
                    <a href="{{ booking.get_absolute_url }}">{{ booking }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no bookings for this customer.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
