{% extends 'capstoneapplication/base.html' %}

{% block title %}
    Reports
{% endblock %}

{% block content %}
<h1>Bookings by Customer</h1>
    <em>ordered by customer organization</em><br /><br />

    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Customer</th>
          <th>Booking</th>
      </tr>
    </thead>
     <tbody>
            {% for booking in booking_by_customer %}
                 <tr>
                <td>{{ booking.customer }}</td>
                 <td>{{ booking }}</td>
                 </tr>
            {%empty %}
                <li><em>There are currently no bookings available.</em></li>
                </tbody>
             {% endfor %}
    </table>
{% endblock %}