{% extends 'capstoneapplication/base.html' %}

{% block title %}
    Reports
{% endblock %}

{% block content %}
    <h1>Bookings by Venue</h1>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Venue</th>
          <th>Booking</th>
      </tr>
    </thead>
     <tbody>
            {% for booking in booking_by_venue %}
                 <tr>
                <td>{{ booking.venue }}</td>
                 <td>{{ booking }}</td>
                 </tr>
            {%empty %}
                <li><em>There are currently no bookings available.</em></li>
                </tbody>
             {% endfor %}
    </table>
{% endblock %}