{% extends 'capstoneapplication/base.html' %}

{% block content %}
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Booking Start Time</th>
        <th>Customer</th>
      </tr>
    </thead>
    <tbody>
  {% for booking in filter.qs %}
      <tr>
      <td>{{ booking.booking_start_time }}</td>
      <td>{{ booking.customer }}</td>
      </tr>
      </tbody>
  {% endfor %}
</table>
{% endblock %}