{% extends 'capstoneapplication/base.html' %}

{% block title %}
    Venue List
{% endblock %}

{% block content %}
<h2>Course Information System</h2>
    <div>
        <a href="{% url 'capstoneapplication_venue_create_urlpattern' %}">
            Add a Venue</a>
    </div>

        <ul>
            {% for venue in venue_list %}
                 <li>
                    <a href="{{ venue.get_absolute_url }}">{{ venue }}</a>
                <li>
            {%empty %}
                <li><em>There are currently no venues available.</em></li>
             {% endfor %}
        </ul>
{% endblock %}